body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /* shorthand (atalho)
  background: color image repeat position/size */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  border: 1px solid red;
  height: 712px;
  width: 360px;
  margin: auto;
}